.App {
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin: 30px 0;
  text-align: left;
  -webkit-text-stroke: 3px #926468;
}

.App-footer {
  color: #926468;
  margin: 30px 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.App-footer a {
  color: #926468;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.App-footer a:hover {
  color: #ffcab0;
  text-decoration: underline;
}

.background {
  position: fixed;
  top: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: 100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: 100%;
  }
  .App-header {
    text-align: center;
    font-size: 44px;
    -webkit-text-stroke: 2px #926468;
  }
}
