.Meaning h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .definition {
  font-size: 18px;
}

.Meaning .example {
  color: #70757a;
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.8;
}

@media (max-aspect-ratio: 16/9) {
  .Meaning {
    font-size: 14px;
    text-align: left;
    line-height: 1.75;
  }
}
